.jumbotron
{
	background: #FFFFFF;
	padding-top: 30px;
	padding-bottom: 20px;
}

.doc-header
{
	color: #FF3B30;
}

.doc-description
{
	color: #22313F;
}

.btn-color
{
	background: #3498DB;
	color: #FFF;
}

.btn-color:hover
{
	background: #2980B9;
	color: #FFF;
}

.doc-buttons .col-sm-4
{
	margin: 5px 0px;
}

.doc-buttons .col-sm-4 .btn
{
	width: 60%;
}

@media (max-width: 768px)
{
	.doc-buttons .col-sm-4
	{
		text-align: center;
		margin: 20px 0px;
	}
}

ul
{
	padding-left: 10px;
}

.row
{
	margin: 10px 0px;
}

.image-container
{
	margin: 40px 0px 40px 0px;
}

.image-container img
{
	width: 90%;
	height: auto;

	max-width: 500px;
	max-height: 275px;
}

@media (max-width: 768px)
{
	.image-container
	{
		margin: 20px 0px;
	}

	.image-container .col-sm-4
	{
		text-align: center;
	}

	.image-container img
	{
		margin: 20px 0px;
	}
}

.h4-margin
{
	margin: 30px 0px 10px 0px;
}

a:hover
{
	text-decoration: none !important;
}

.doc-optionslist table tr:first-child
{
	font-weight: bold;
}

.doc-optionslist table td:nth-child(4)
{
	width: 24%;
}

.doc-dataattrlist table tr:first-child
{
	font-weight: bold;
}

.doc-functionlist table tr:first-child
{
	font-weight: bold;
}

